<div class="admin-area">
    <a href="/admin" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
</div>
<div class="st-scroll" ng-class="{'st-scroll-apply' : ctrl.queryResults.length!=null}">
  <div class="row text-center">
      <h2 class="jarvis-text">JARVIS</h2>
      <h4 class="jarvis-text">Search Engine</h4>
      <div class="jarvis-container">
          <div class="jarvis pulse"></div>
      </div>
  </div>
  <div class="row query-result">
      <div class="container">
        <input class="navbar-input col-xs-11" type="" placeholder="No data available. Head to /scrape for data." ng-show="ctrl.url==null" disabled>
        <input class="navbar-input col-xs-11" type="" placeholder="Type keywords to search" name="query" ng-model="ctrl.query" ng-hide="ctrl.url==null">
        <button class="navbar-button col-xs-1" ng-click="ctrl.submitQuery()" ng-disabled="ctrl.url==null">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
  </div>
  <div class="row" ng-show="ctrl.queryResults.length==null && ctrl.queryProcessed==true">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <center>I didn't choose the engineering life. The engineering life chose me.</center>
  </div>

  <div class="row query-result" ng-show="ctrl.queryResults.length!=null">
    <div class="back-button">
      <a href="" class="btn btn-sm btn-default" ng-click="ctrl.resetSearch()">
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
          New Search
      </a>
    </div>
    <div class="result-msg">{{ctrl.queryResults.length}} results ({{ctrl.timeElapsed/1000}} seconds)</div>
    <table class="table table-responsive borderless">
      <tbody>
        <tr ng-repeat="item in ctrl.queryResults">
          <td class="score-col">{{item.score}}</td>
          <td>
            <div><a class="title" href="{{item.url}}">{{item.meta.title}}</a></div>
            <div class="cite">{{item.url}}</div>
            <div>{{item.meta.date}} - {{item.meta.size}}</div>
            <div>
              <span ng-repeat="(word,freq) in item.keywordsFreq">{{word}} {{freq}}; </span>
            </div>
            <div ng-repeat="childLink in item.childLinks track by $index">
              <a href="{{childLink}}">{{childLink}}</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center result-msg query-result" ng-show="ctrl.queryResults.length==null">
      {{ctrl.pages||0}} page(s) searchable from <a href="http://{{ctrl.url}}">{{ctrl.url||'-BLANK-'}}</a>
  </div>
</div>

<link rel="stylesheet" href="/static/app/home.css">
<link rel="stylesheet" href="/static/app/spinner.css">
